#αγνόησε το περιεχόμενο των παρακάτω αρχείων και φακέλων
venv/
.env/
*.pyc
**/__pycache__/
.ipynb_checkpoints/

#αγνόησε αρχεία καταγραφής
*.log

#αγνόησε αρχεία δεδομένων
*.pth
*.bin
*.npz

#αγνόησε συστήματα λειτουργίας
.DS_Store
